.nav {
    background-color: royalblue;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 16px; 
}
.containerImg img{
    width: 1.5rem;
    height: 1.5rem;
}
.imagen{
    display: flex;
    margin-left: 900%;   
}
